<div class="ui-select-container ui-select-multiple eoe-select eoe-select-container eoe-select-container-multi"
     ng-class="{'eoe-select-container-active eoe-select-dropdown-open open': $select.open,
                'eoe-select-container-disabled': $select.disabled}">
  <ul class="eoe-select-choices">
    <span class="ui-select-match"></span>
    <li class="eoe-select-search-field">
      <input
        type="text"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        role="combobox"
        aria-expanded="true"
        aria-owns="ui-select-choices-{{ $select.generatedId }}"
        aria-label="{{ $select.baseTitle }}"
        aria-activedescendant="ui-select-choices-row-{{ $select.generatedId }}-{{ $select.activeIndex }}"
        class="eoe-select-input ui-select-search"
        placeholder="{{$selectMultiple.getPlaceholder()}}"
        ng-disabled="$select.disabled"
        ng-hide="$select.disabled"
        ng-model="$select.search"
        ng-click="$select.activate()"
        style="width: 34px;"
        ondrop="return false;">
    </li>
  </ul>
  <div class="ui-select-dropdown eoe-select-drop eoe-select-with-searchbox eoe-select-drop-active"
       ng-class="{'eoe-select-display-none': !$select.open}">
    <div class="ui-select-choices"></div>
  </div>
</div>
